@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme(fontFamily.heading);
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::selection {
    background: theme(colors.turquoise.200/40);
    color: theme(colors.blue.100);
  }

  body {
    background: theme(colors.blue.400);
    color: theme(colors.grayscale.100);
    font-size: theme(fontSize.p5);
    font-family: theme(fontFamily.body);
    font-feature-settings: 'salt' on;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    cursor: url(/cursor.svg), default;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    border: 0;
  }

  button:hover {
    cursor: pointer;
  }
}

@layer utilities {
  .h1-bold {
    font-family: theme(fontFamily.heading);
    font-size: theme(fontSize.h1);
    font-weight: theme(fontWeight.bold);
    line-height: 120%;
  }

  .h2-semibold {
    font-family: theme(fontFamily.heading);
    font-size: theme(fontSize.h2);
    font-weight: theme(fontWeight.semibold);
    line-height: 140%;
  }

  .h2-bold {
    font-family: theme(fontFamily.heading);
    font-size: theme(fontSize.h2);
    font-weight: theme(fontWeight.bold);
    line-height: 140%;
  }

  .h3-semibold {
    font-family: theme(fontFamily.heading);
    font-size: theme(fontSize.h3);
    font-weight: theme(fontWeight.semibold);
    line-height: 150%;
  }

  .h3-bold {
    font-family: theme(fontFamily.heading);
    font-size: theme(fontSize.h3);
    font-weight: theme(fontWeight.bold);
    line-height: 150%;
  }

  .p1-semibold {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p1);
    font-weight: theme(fontWeight.semibold);
    line-height: 150%;
  }

  .p1-bold {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p1);
    font-weight: theme(fontWeight.bold);
    line-height: 150%;
  }

  .p3-regular {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p3);
    font-weight: theme(fontWeight.normal);
    line-height: 150%;
  }

  .p3-medium {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p3);
    font-weight: theme(fontWeight.medium);
    line-height: 150%;
  }

  .p3-bold {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p3);
    font-weight: theme(fontWeight.bold);
    line-height: 150%;
  }

  .p4-regular {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p4);
    font-weight: theme(fontWeight.normal);
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .p4-medium {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p4);
    font-weight: theme(fontWeight.medium);
    line-height: 150%;
    letter-spacing: 0.01em;
  }

  .p4-semibold {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p4);
    font-weight: theme(fontWeight.semibold);
    line-height: 150%;
  }

  .p4-code {
    font-family: theme(fontFamily.code);
    font-size: theme(fontSize.p4);
    /* font-weight: theme(fontWeight.semibold); */
    line-height: 150%;
  }

  .p5-regular {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p5);
    font-weight: theme(fontWeight.normal);
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .p5-medium {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p5);
    font-weight: theme(fontWeight.medium);
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .p5-semibold {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.p5);
    font-weight: theme(fontWeight.semibold);
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .p6-code {
    font-family: theme(fontFamily.code);
    font-size: theme(fontSize.p6);
    font-weight: theme(fontWeight.bold);
    line-height: 150%;
    letter-spacing: 0.04em;
  }

  .text-shadow {
    text-shadow: 0 4px 24px rgba(2, 19, 39, 0.7);
  }

  .pill-transition {
    transition: color 0.2s, outline 0.1s;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.button-group {
  flex-direction: row;
  container-type: inline-size;
  container-name: group;
}

@container group (max-width: 500px) {
  .button-group .button {
    flex: 1;
  }
}

@container group (max-width: 420px) {
  .button-group > div {
    flex-direction: column;
  }

  .button-group .button {
    width: 100%;
  }
}

.stroke {
  container-type: inline-size;
  container-name: stroke;
}

@media (min-width: 514px) and (max-width: 655px) {
  .stroke img {
    width: 300px;
    left: -40px;
  }
}
