* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&::selection {
		background: $turquoise-200;
		color: $blue-300;
	}
}

body {
	background: $blue-300;
	color: $white;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	font-feature-settings: 'salt' on;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	cursor: url(/cursor.svg), default;
}

section.section {
	margin-bottom: 16rem;

	h2 {
		&.margin-bottom-large {
			margin-bottom: 6rem;
		}

		&.margin-bottom-small {
			margin-bottom: 2.5rem;
		}
	}
}

a {
	color: $turquoise-200;
	text-decoration: none;
}

button {
	border: 0;

	&:hover {
		cursor: pointer;
	}
}
