// HEADINGS

$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: $h1-font-size;

	&.h1 {
		&--bold {
			font-size: $h1-font-size;
			font-weight: 700;
		}
	}
}

h2 {
	font-size: $h2-font-size;

	&.h2 {
		&--semibold {
			font-size: $h2-font-size;
			font-weight: 600;
		}

		&--bold {
			font-size: $h2-font-size;
			font-weight: 700;
		}
	}
}

h3 {
	font-size: $h3-font-size;

	&.h3 {
		&--semibold {
			font-size: $h3-font-size;
			font-weight: 600;
		}

		&--bold {
			font-size: $h3-font-size;
			font-weight: 700;
		}
	}
}

h4 {
	font-size: $h4-font-size;

	&.h4 {
		&--semibold {
			font-size: $h4-font-size;
			font-weight: 600;
		}
	}
}

h5 {
	font-size: $h5-font-size;

	&.h5 {
		&--SEMIBOLD {
			font-size: $h5-font-size;
			font-weight: 600;
			text-transform: uppercase;
		}

		&--BOLD {
			font-size: $h5-font-size;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

// PARAGRAPHS

$p1-font-size: 1.5rem;
$p2-font-size: 1.375rem;
$p3-font-size: 1.25rem;
$p4-font-size: 1.125rem;
$p5-font-size: 1rem;

p {
	color: $blue-100;
	line-height: 150%;
	font-feature-settings: 'salt' on;
}

p,
a {
	&.p1 {
		font-size: $p1-font-size;

		&--bold {
			font-size: $p1-font-size;
			font-weight: 700;
		}
	}

	&.p2 {
		font-size: $p2-font-size;

		&--medium {
			font-size: $p2-font-size;
			font-weight: 500;
		}
	}

	&.p3 {
		font-size: $p3-font-size;

		&--regular {
			font-size: $p3-font-size;
			font-weight: 400;
		}

		&--bold {
			font-size: $p3-font-size;
			font-weight: 700;
		}
	}

	&.p4 {
		font-size: $p4-font-size;

		&--regular {
			font-size: $p4-font-size;
			font-weight: 400;
		}

		&--REGULAR {
			font-size: $p4-font-size;
			font-weight: 400;
			text-transform: uppercase;
		}

		&--medium {
			font-size: $p4-font-size;
			font-weight: 500;
		}

		&--semibold {
			font-size: $p4-font-size;
			font-weight: 600;
		}

		&--SEMIBOLD {
			font-size: $p4-font-size;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	&.p5 {
		font-size: $p5-font-size;

		&--regular {
			font-size: $p5-font-size;
			font-weight: 400;
		}

		&--REGULAR {
			font-size: $p5-font-size;
			font-weight: 400;
			text-transform: uppercase;
		}

		&--medium {
			font-size: $p5-font-size;
			font-weight: 500;
		}

		&--semibold {
			font-size: $p5-font-size;
			font-weight: 600;
		}

		&--SEMIBOLD {
			font-size: $p5-font-size;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}
